# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

googletest/
build/
CMakeLists.txt
Example.cpp
Example.hpp
test.txt
GameEnvironment.txt
lukasTestingMain.cpp
unitTestingGE.cpp
tasks.json
ExampleTests.cpp
test_PrototypeManager
makefile
