# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vscode/settings.json
.vscode/c_cpp_properties.json
.vscode/tasks.json
Building.h
Utility.h
lukasTestingMain.cpp
test.txt
GameEnvironment.txt
BuildingIterator.txt
BuildingIteratorLinear.txt
BuildingIteratorRadial.txt
LinearIterator.txt
UtilityIterator.h
UtilityIteratorLinear.h
UtilityIteratorRadial.h
googletest/
build/
CMakeLists.txt
Example.cpp
Example.hpp
ExampleTests.cpp
unitTestingGE.cpp
makefile
